/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #090909;
  color: #fff;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 1.5rem;
}

.nav-links a {
  text-decoration: none;
  color: rgb(4, 237, 51);
  font-weight: bold;
  transition: color 0.3s;
}

.nav-links a:hover {
  color: #647fd6;
}

.social-icons {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  margin: 0;
  padding: 0;
}

.social-icons li {
  margin-left: 10px;
}

.social-icons a {
  color: #db7ecc;
  font-size: 1.5em;
  text-decoration: none;
}

.social-icons a:hover {
  color: #007BFF;
}
h3{
  color: #fff;
  text-align: left;
}



